body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f9;
}

h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

table th {
    background: #007BFF;
    color: #fff;
}

img {
    max-width: 100px;
    max-height: 100px;
}

button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 5px;
}

button:hover {
    background: #218838;
}

#exportBtn {
    background: #007bff;
}

#exportBtn:hover {
    background: #0056b3;
}

#deleteDBBtn {
    background: #dc3545;
}

#deleteDBBtn:hover {
    background: #c82333;
}

#deleteSelectedBtn {
    background: #ffc107;
    color: black;
}

#deleteSelectedBtn:hover {
    background: #e0a800;
}

.checkbox {
    text-align: center;
}